:root{
    --fisrt-color: #ededed;
    --second-color: #DE1D22;
    --third-color: #000000;
}

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.title{
    color: var(--first-color);
    font-size: 23px;
    padding-top: 30%;
    padding-bottom: 20%;
    font-weight: 600;
}

.text{
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7;
}

.cards-background{
    background-color: var(--second-color);
    text-align: center;
}

.cards{
    width: 300px;
    height: 450px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    color: var(--fisrt-color);
    border-radius: 2%;
    box-shadow: 2px 3px 6px black;
}

.card-text{
    width: 100%;
    height: 50%;
}

.circle-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    border: 2px solid var(--second-color);
    color: var(--second-color);
    border-radius: 100%;
}

.fas{
    font-size: 45px;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}