:root{
    --fisrt-color: #ededed;
    --second-color: #DE1D22;
    --third-color: #000000;
}

*{
    font-family: 'Inter', sans-serif;
}

.title{
    color: var(--first-color);
    font-size: 25px;
    font-weight: 600;
}